.button {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(0.2rem);
  }
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
