@import 'abstracts/variables';

.navBar {
  width: 100%;
  height: 80px;
  background-color: $color-black;

  a {
    &:link,
    &:visited {
      color: $color-white;
    }
    &:hover {
      color: rgba(84, 143, 143, 0.667);
    }
  }
}
